@model Proje_OOP.Entity.Customer
@{
    ViewData["Title"] = "AddCustomer";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>Yeni Müşteri Ekleme Sayfası</h1>

<form method="post">
    
    @Html.Label("Müşteri adı")
    @Html.TextBoxFor(x=>x.Name, new{@class="form-control"})
    <br/>

    @Html.Label("Müşteri Şehri")
    @Html.TextBoxFor(x=>x.City,new{@class="form-control"})

    <button class="btn btn-info">Müşteriyi Kaydet</button>
    <br/>
    @if (ViewBag.message != null)
    {
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div class="toast show align-items-center text-white bg-primary border-0" role="alert">
                <div class="d-flex">
                    <div class="toast-body">
                        @ViewBag.message
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
                </div>
            </div>
        </div>
    }
    
</form>

