
@{
    Layout = null;
}

<h1>ürünler sayfası</h1>

<a href="/Default/Index">Index Sayfası</a>
<a href="/Default/Musteriler">Müşteri Sayfası</a>

<h3>@ViewBag.m1</h3>
<h3>@ViewBag.m2</h3>
<h3>@ViewBag.m3</h3>
<h3>Toplam:@ViewBag.t</h3>
<h3>Çevre : @ViewBag.c</h3>
<h3>@ViewBag.v</h3>
<h3>Faktoryel : @ViewBag.fakt</h3>